<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/rdiaz1337">Rafael</a>. a rookie web developer who are is trying to learn to code via Firehose.
  </p>
  <br />
  <p>
    He has been trying his best, let's see if the class helps!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rafish.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rafael Diaz</h2>
      <br />
      <p>
        Rafael Diaz is a rookie web developer learning how to code in the Firehose class.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />