<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This version of Splurty was built by <a target="_blank" href="http://github.com/rdiaz1337">Rafael Diaz</a>, a rookie web developer who learning to code via the Firehose project.
  </p>
  <br />
  <p>
    Having spent years on the internet, he finally decided to learn how it worked, and decided to learn to program with his fellow students.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>!
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rafish.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rafael Diaz</h2>
      <br />
      <p>
        Rafael Diaz is a rookie web developer learning how to code in the Firehose class. His interests include web and game design, video games, and food.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />